<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Master Test Suite - References sub-suites for BOMB and Buyer App -->
<suite name="All API Test Suites" preserve-order="true">
    
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>

    <parameter name="env" value="default"/>

    <!-- Include BOMB API Test Suite -->
    <suite-files>
        <suite-file path="testng-bomb.xml"/>
        <suite-file path="testng-buyerapp.xml"/>
    </suite-files>

</suite>
